body {
  background-color: black;
  font-family: arial;
  color: white;
  margin-left: 50px;
}
h1 {
  color:grey;
  font-family: verdana;
}
.maindiv{
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px 20px;
  border-radius: 25px;
}
#maindiv{
  padding-left: 70px;
  margin: 10px;
}

#rate{
  margin-left: 40px;
}
#principal{
  margin-left: 76px;
}
#years{
  margin-left: 48px;
}
#color{
  background-color: #ffff33;
}
